<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xupt.mapper.OrderMapper">

    <insert id="orderCreate" parameterType="Order">
        insert into orders(order_id,get_stu_id,parcel_id,order_status) VALUES (#{order_id},#{get_stu_id},#{parcel_id},#{order_status});
    </insert>

    <update id="orderStatusUpdate">
        UPDATE orders set order_status=#{0} WHERE order_id=#{1};
    </update>

    <select id="orderInfoGet" parameterType="java.lang.String" resultType="OrderDetail">
        Select p.take_name,p.take_phone,o.get_stu_id,o.receive_time,p.set_stu_id,p.size,p.start_time,p.end_time,p.reward,p.location_1,p.location_2,p.create_time FROM orders o,parcel_inform p where p.parcel_id = o.parcel_id and o.order_id = #{order_id};
    </select>
</mapper>

